.App {
  width: 85%;
  background-color: rgb(246, 246, 239);
  margin: auto;
  margin-top:5px;

  font-family: Verdana, Geneva, sans-serif;
    font-size: 10pt;
    color: #828282;
}

a {
  text-decoration: none;
  color: inherit;
}

b {
  font-weight: bold;
}