.logo {
    border:1px white solid;
  }
  
.Header{
    background-color: rgb(255, 102, 0);
    color: #000000;
    min-height: 24px;
    padding: 2px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
  
.Nav {
    display: flex;
    flex-wrap: wrap;
}
  
.Header span {
    margin: 0 10px;
}

.Header a:visited{
     color: black
}
